.stack-work/
*~
*.hi
*.o
src/chp22/Sum
src/chp23/InputSum
src/chp24/Hellofile
src/chp24/FileCount
src/chp24/stats.dat
src/chp24/goodbye.txt
src/chp24/CP
src/chp24/Capitalize
src/chp25/Glitcher
src/chp25/glitched_220px-H._P._Lovecraft,_June_1934.jpg
src/chp25/Count
src/chp26/bools.html
src/chp26/ohsu_ncnm_wscc_bibs.mrc
